h1{
    color: darkmagenta;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: black;
    background-color: aqua;
    text-align: justify;
    border: dotted blue 5px;
    padding: 10px 10px;
}
p{
    color: rgb(7, 1, 14);
    text-align: left;
}
div{
    text-align: left;
}